{%extends 'base.html'%}

{%block content%}
	<style type="text/css">
		.a {
		position: absolute;
		left: 5px;
		top: -20px;
		z-index: -1;
		align-items: center;
	}
	</style>


	<iframe class="a" width="728" height="410" scrolling="no" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" src="http://youtvgratis.com/embed/{{canal.enlace}}"></iframe>
	  
	<script type='text/javascript'> width=728, height=410, channel='{{canal.enlace}}';</script>
	<script type='text/javascript' src='http://tutvgratis.tv/embed.js'></script>

	<div style="position: absolute; top: 400px;">
	<p>Nombre: {{canal.nombre}}</p>
	<p><a href="{%url 'canales:ListViewCanales'%}">Regresar al menu</a></p>

	<input value="refrescar" type="button" onclick="document.location.reload();">

	<p>Categoria: {{categoria.nombre}}</p>

	<p>Canales relacionados</p>

	{%for canal in canalesRelacionados%}

	<a href="{%url 'canales:DetailViewCanal' slug=canal.slug%}"><img src="{{canal.logo.url}}"></a>

	{%empty%}
	
	{%endfor%}
	</div>
{%endblock content%}
