{%extends 'base.html'%}

{%block content%}

<h1>Canales</h1>

<div class="row">

{%for CanalesPorCategoria in ListaDeCanalesPorCategoria%}

	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3>{{CanalesPorCategoria.categoria}}</h3>
	</div>
	
	{%for canal in CanalesPorCategoria.canales%}

	<div class="col-xs-4 col-sm-3 col-md-2">
    	<a href="{%url 'canales:DetailViewCanal' slug=canal.slug%}" class="thumbnail">
      	<img src="{{canal.logo.url}}" alt="...">
    	</a>
  	</div>

	{%empty%}
	
	Vacio
	
	{%endfor%}
	
	<br>
	
	{%empty%}

{%endfor%}

{%endblock content%}