{% load i18n %}{% autoescape off %}
{% blocktrans %}Has recibido este correo electrónico porque solicitaste restablecer la contraseña para tu cuenta en MiSitio.{% endblocktrans %}

{% trans "Si solicitaste un restablecimiento de contraseña haz clic en la liga que aparece a continuación. Si no solicitaste esto, ignora este correo electrónico" %}
{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Tu nombre de usuario, en caso de haberlo olvidado es:" %} {{ user.get_username }}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% blocktrans %}The MiSitio team{% endblocktrans %}

{% endautoescape %}