{%extends 'base.html'%}

{%block content%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center">Mi perfil</h2>

        {%if perfil.fotografia%}

            <img class="fotoPerfil fotoCircular" src="{{perfil.fotografia.url}}">

        {%endif%}
        
            <form action="." method="post" enctype="multipart/form-data">
            	<br>
                {%csrf_token%}
            	{{UserForm.as_p}}
            	{{PerfilForm.as_p}}
            	<input type="submit" value="Guardar cambios">
            </form>
        </div>
    </div>
{%endblock content%}