{%extends 'base.html'%}

{%block content%}
<style type="text/css">
	.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
   /* background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto; */
}
</style>

{%if perfil.fotografia%}
    <img class="avatar" src="{{perfil.fotografia.url}}">
{%endif%}
	<form action="." method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{UserForm.as_p}}
		{{PerfilForm.as_p}}
		<input type="submit" value="Guardar cambios">
	</form>
{%endblock content%}