<form action="{%url 'accounts:login'%}" method="post" enctype='multipart/form-data'>
  {% csrf_token %}
  <h4>Inicia sesión</h4>
  <p>Usuario o correo electrónico: <input type="text" name="username"></p>
  <p>Contraseña: <input type="password" name="password"></p>

  <p><input type="submit" value="Inicia sesión"></p>
</form>

<p>Iniciar sesión con FB</p>
<p><a href="{%url 'accounts:reset_password'%}">¿Olvidaste tu contraseña?</a></p>
<p><a href="{%url 'accounts:CreateViewAccount'%}">Crear cuenta</a></p>